.showcase-area{
    height: 50vh;
    background: url("../Images/A88580F8-5CFF-43F3-836A-72A679FD0076.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
