.showcase-area{
    height: 50vh;
    background: url("../Images/D1FADDB2-BACC-475D-9816-429BDCE7CEBA.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
